<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <!--  <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password1" placeholder="password1"><br>
        <input type="password" name="password2" placeholder="password2"><br>
        <input type="submit">
        -->
        <button type="submit">Creat a new User</button>
    </form>
</body>
</html>